.hide {
    display: none;
}

#searchQueryFields,
#searchFields,
#browseFields {
    display: none;
}

div#resultsHeader {
    margin: 10px 0;
}

div.adminSection {
    padding: 10px;
}

.highlight {
    background-color: gold;
    padding: 4px;
}

/* Page Styles */

#regExpHelpLink {
    color: #189c97;
}

.page-title {
    font-family: "Roboto", sans-serif;
    font-size: 2.5rem;
    font-weight: 300;
    color: #189c97;
}

h1,
h2,
h3,
h4 {
    font-family: "Libre Baskerville", serif !important;
}

p,
h1,
h2,
h3,
h4,
h5,
li,
a,
span,
label,
td,
note,
button {
    font-family: "Roboto", sans-serif;
}

.btn.btn-primary {
    background-color: #1784c4;
    color: #fff;
    border-color: #1784c4 !important;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus {
    background-color: #3f54ed;
}

/* Table Styles */

.fixed-table-container {
    border-radius: 10px;
    box-shadow: 0 0px 40px 0px rgb(0 0 0 / 15%);
    -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0px 40px 0px rgb(0 0 0 / 15%);
    -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    background-color: #fff;
}

/* Table Head */

.bootstrap-table thead tr {
    border: 0;
}

.bootstrap-table thead tr th {
    border: 0;
    font-family: "Roboto", sans-serif;

    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.05rem;

    background-color: #1784c4;
    padding-top: 18px;
    padding-bottom: 18px;
    color: #fff;
}

.bootstrap-table thead tr th:first-child,
.bootstrap-table thead tr td:first-child {
    border-top-left-radius: 7px;
}

.bootstrap-table thead tr th:last-child,
.bootstrap-table thead tr td:last-child {
    border-top-right-radius: 7px;
}

/* Table Body */

.bootstrap-table tbody tr {
    border: 0;

    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

.bootstrap-table tbody tr td {
    border: 0;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.4;

    padding-bottom: 16px;
    padding-top: 16px;
    color: #0f0f0f;
}

.bootstrap-table tbody tr:nth-child(even) {
    /* background-color: #f8f6ff; */
    background-color: rgb(23 132 196 / 5%);
}

.bootstrap-table tbody tr:last-of-type th:first-child,
.bootstrap-table tbody tr:last-of-type td:first-child {
    border-bottom-left-radius: 7px;
}

.bootstrap-table tbody tr:last-of-type th:last-child,
.bootstrap-table tbody tr:last-of-type td:last-child {
    border-bottom-right-radius: 7px;
}

/* Table Pagination */

.fixed-table-toolbar .search.btn-group {
    float: left !important;
}

/* .fixed-table-toolbar .search.btn-group input {
    border-color: #1784c4;
} */

.fixed-table-pagination .pagination-detail {
    font-family: "Roboto", sans-serif;
    color: #808080;
}

.fixed-table-pagination .pagination-detail .dropdown-toggle {
    background-color: #1784c4;
    border: 0;
}

.fixed-table-pagination .pagination-detail .dropdown-menu {
    padding: 0;
}

.fixed-table-pagination .pagination-detail .dropdown-menu .dropdown-item.active {
    background-color: #1784c4;
}

.fixed-table-pagination .pagination ul.pagination li a {
    color: #808080;
}

.fixed-table-pagination .pagination ul.pagination li a:hover {
    background-color: #f8f6ff;
}

.fixed-table-pagination .pagination ul.pagination li.active a {
    background-color: #1784c4;
    color: #fff;
    border-color: #dee2e6;
}

.bootstrap-table .fixed-table-container .table thead th .asc,
.bootstrap-table .fixed-table-container .table thead th .desc {
    filter: grayscale(1) brightness(2);
}

.bootstrap-table .fixed-table-container .table thead th:last-of-type {
    padding-right: 0.5rem;
}

/* Table Modal */

#recordModal .modal-header .btn-close {
    /* filter: grayscale(1) brightness(2); */
    filter: invert(1);
}

#recordModal .modal-content {
    background-color: #1784c4;
    border-color: #808080;
}

#recordModal .modal-content .modal-body,
#recordModal .modal-content .modal-footer {
    background-color: #fff;
}

#recordModal .modal-content .modal-header {
    color: #fff;
}

#recordModal .modal-content dl {
    display: flex;
    flex-wrap: wrap;
}

#recordModal .modal-content dt {
    width: 33%;
    margin: 0;
    padding: 16px 8px;
}
#recordModal .modal-content dd {
    /* margin-left: auto; */
    width: 66%;
    color: #0f0f0f;
    margin: 0;
    padding: 16px 8px;
}

#recordModal .modal-content dt:nth-of-type(even),
#recordModal .modal-content dd:nth-of-type(even) {
    background-color: rgb(23 132 196 / 5%);
}

#recordModal .modal-title {
    font-weight: 300;
}

#recordModal .modal-body {
    padding: 0 !important;
}

/* Edit Form */

form .form-group {
    margin-bottom: 10px;
}

form .form-group:first-of-type,
form .form-group:first-of-type label {
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
}

form .form-group label {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
}

/* Admin Page */

ul.admin-list {
    list-style: none;
    padding: 0;
    padding-top: 1rem;
    /* padding-bottom: 1rem; */
}

ul.admin-list li {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

ul.admin-list li label {
    padding-left: 0.5rem;
}

.adminSection .card h3 {
    margin-bottom: 1rem;
    font-weight: 300;
    font-family: "Roboto", sans-serif !important;
}

/* .adminSection .card.expandable .card-body {
    min-height: 187px;
} */

@media (min-width: 991.98px) and (max-width: 1199.98px) {
    .adminSection .card.expandable .card-body {
        min-height: 180px;
    }
}

@media (min-width: 1199.98px) {
    .adminSection .card.expandable .card-body {
        min-height: 146px;
    }
}

/* Edit Record Form */

.edit-record-form .form-group input,
.edit-record-form .form-group textarea,
.edit-record-form .form-group select {
    background-color: #f8f6ff;
    border-radius: 0;
    font-weight: 500;
}

.edit-record-form .form-group input::placeholder {
    font-weight: 400;
}

.edit-record-form .form-group {
    margin-bottom: 1.25rem;
}

.edit-record-form .form-group label {
    font-size: 1.25rem !important;
    font-weight: 300;
    margin-bottom: 0.25rem !important;
    width: 100%;
}

.edit-record-form .form-group select#classifications {
    min-height: 180px;
}

.edit-record-form .form-group p.read-only {
    margin: 0;
    font-weight: 500;
}

/* Header */

.navbar {
    /* background-color: #1784c4 !important; */
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;

    background: rgb(24, 156, 151);
    background: linear-gradient(90deg, rgba(24, 156, 151, 1) 0%, rgba(23, 132, 196, 1) 100%) !important;
}

.navbar .navbar-brand {
    color: #fff;
    font-family: "Libre Baskerville", serif !important;
    line-height: 1.25;
}

.navbar .navbar-brand span {
    font-size: 1rem;
    font-style: italic;
}

.navbar .nav-item .nav-link {
    /* color: rgba(255, 255, 255, 0.55); */
    color: #fff;
}

.navbar .nav-item .nav-link span.gaelic {
    font-size: 0.85rem;
    font-style: italic;
}

.navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar .navbar-toggler:focus {
    box-shadow: none !important;
}

/* @media (min-width: 991.98px) and (max-width: 1199.98px) {
    .navbar .navbar-brand {
        font-size: 1rem;
    }

    .navbar .navbar-brand span {
        font-size: 0.9rem;
    }
} */

@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 0.8rem !important;
        padding-left: 0.8rem !important;
    }
}

/* Search Page */

/* #searchFormContainer .card-body {
    padding: 0 !important;
}

#searchFormContainer .card-body #searchElements thead tr th:first-of-type {
    padding-left: 0.75rem;
}

#searchFormContainer .card-body #searchElements thead tr th {
    padding: 1rem 0 1rem 0.5rem;
}

#searchFormContainer #searchElements tbody tr td {
    border-bottom: 0;
}

#searchFormContainer #searchElements tbody tr td {
    border-top: 1px solid rgb(222, 226, 230);
}

#searchFormContainer #searchElements tbody tr:first-of-type td {
    border-top: 0;
} */

#searchFormContainer .form-check-label h5 {
    font-weight: 400;
}

.fixed-table-toolbar .search.btn-group {
    position: relative;
}

.fixed-table-toolbar .search.btn-group::after {
    content: "";
    /* background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgba%280, 0, 0, 0.55%29" class="bi bi-search" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/></svg>'); */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="rgba%280, 0, 0, 0.55%29"><path d="M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z"/></svg>');

    position: absolute;
    left: 8px;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    background-size: cover;
    top: 9px;
}

.fixed-table-toolbar .search.btn-group input {
    padding-left: 2.25rem;
}

/* Home Page */

.home-content h3 {
    text-align: left;
    font-size: 3.5rem;
    margin-bottom: 1rem;
    font-weight: 300;
    color: #189c97;
}

.home-content h4 {
    line-height: 1.5;
}

.home-content h4 span.gaelic {
    font-weight: 400;
    font-size: 1.5rem;
    font-style: italic;
}

.home-content h3,
.home-content h4 {
    color: #189c97;
}

.home-content p {
    font-size: 1.15rem;
    color: #6d6e71;
}

.home-content p a {
    color: #189c97;
}

.home-content .btn {
    font-size: 1.3rem;
    background-color: #189c97 !important;
    border-color: #189c97 !important;
}

.banner img {
    max-width: 100%;
    max-height: 605px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* FAQ */

.faq p {
    font-size: 1.15rem;
    color: #6d6e71;
}

.faq ul li {
    font-size: 1.15rem;
    color: #6d6e71;
}

.faq .accordion .accordion-header .accordion-button {
    background-color: #189c97;
    color: #fff;
    font-weight: 500;
    font-size: 1.05rem;
}
.faq .accordion .accordion-header .accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.faq .accordion .accordion-collapse .accordion-body {
    padding: 2em;
}

.faq .accordion .accordion-header {
    font-family: "Roboto", sans-serif !important;
}

/* Footer */

footer {
    background-color: #1784c4;
}
/*
footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer ul li a {
    text-decoration: none;
    color: #fff !important;
    padding: 0.25rem 1rem;
    display: block;
} */

footer ul {
    display: flex;
    flex-direction: inherit;
    justify-content: space-around;
    color: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

footer ul li a {
    text-decoration: none;
    color: #fff !important;
    padding: 0.5rem 1rem;
    display: block;
}

footer ul li a span.gaelic {
    font-size: 0.85rem;
    font-style: italic;
}

.page-wrapper {
    /* min-height: calc(100vh - 200px); */
}

.home-content {
    min-height: calc(100vh - 342px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchFormContainer,
.page-content {
    min-height: calc(100vh - 247px) !important;
}

.page-content ul li {
    font-size: 1.15rem;
    color: #6d6e71;
}

.page-wrapper h3 {
    text-align: left;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 300;
    color: #189c97;
}

.page-content p {
    font-size: 1.15rem;
    color: #6d6e71;
}

.page-content p a,
.page-content ul a {
    color: #189c97;
}

.page-content h3,
.page-content h4 {
    color: #189c97;
}

/* team */

.team .team-member img {
    float: left;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.team ul {
    padding-left: 1rem;
}

.team ul li {
    font-size: 1.15rem;
    color: #6d6e71;
}

/* Gratitude */

.logos .logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: relative;
    text-decoration: none !important;
}

.logos .logo a img {
    max-width: 100%;
}
